*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 45, 68);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
}
#main{
    width: 80%;
    min-height: 80vh;
    background-color: rgb(142, 155, 168);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 35px;
    border-radius: 30px;
}
.box{
    width: 35rem;
    min-height: 7rem;
    background-color: white;
    padding: 10px;
    
    text-align: center;
    border-radius: 20px;
}
.box h3{
    color: rgb(68, 63, 63);
    font-size: 22px;
    font-weight: 800;
}
.box p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
.myh1{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    color: white;
}